/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@300;400;500;700&display=swap');
$fontfam: 'Arima Madurai', cursive, Roboto, sans-serif;
@import 'giftcode';
@import 'hotro';
:root {
  --color1: #4293cf;
  --color2: #333333;
  --color3: #808080;
  --colorok: #31da70;
  --colorerror: #ff6d6d;
  --whitecolor: #fff;
  --colorlink: #409ff5;
  --spacing: 30px;
  --colortablehead: #e4e4e4;
  --bs-gutter-x: 1.5rem;
}
.error {color: var(--colorerror) !important;}
.green {color: var(--colorok) !important;}
.gold {color: var(--color1) !important;}
.blue {color: var(--colorlink) !important;}
.main {color: var(--color1) !important;}
body {font-family: $fontfam;font-size: 14px;font-weight: 400;color: var(--color2);}
* {outline: none;box-sizing: border-box;padding: 0;margin: 0;}
a {text-decoration: none;transition: all 0.3s ease-in-out;}
button {transition: all 0.7s ease-in-out !important;}
a:hover {text-decoration: none;}
main {position: relative;height: 100vh;}
.container{max-width: 1280px;}
.wrapper {margin: 0 auto;position: relative;width:100%;overflow: hidden;}
#layout{width: 1920px;height:auto;transform-origin: top left;overflow: hidden;}
.tren18{position: absolute;z-index: 10;left:0;top:317px;}
/*=Header=*/
.header {position: relative;background:url(../images/bg-top.jpg) no-repeat top center;height: 1124px;
  .bgvideo {width: 1920px;height: 1020px;position: absolute;top: 0;left: 50%;margin-left: -960px;
    #videoef{width: 100%;height: auto;}
  }
  .header-center{z-index: 9;position: relative;}
}
.slider{width: 100%;overflow: hidden;}
.maincontent{margin-top:-282px;position: relative;z-index: 11;
  .slider{
    img{width: 100%;}
  }
  .blockdownload{
    .icongame{
      img{}
    }
    .listbutton{background: url(../images/bg-download.png) no-repeat top center;background-size: 100% 100%;padding-top:66%;margin-top: -54%;
      a{display: flex;
        img{object-fit: contain;}
        .text{font-size: 20px;color: var(--whitecolor);}
      }
    }
  }

}


footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  .bg-footer {
    background: var(--color2);
    padding: 30px 0 90px;
    text-align: center;
  }
  .mainfooter {
    position: relative;
    bottom: 0;
    img {
      width: 100px;
      height: 30px;
      object-fit: cover;
      margin-bottom: 25px;
      filter: grayscale(100%);
      filter:brightness(10000%);
    }
    p {
      line-height: 1.6;
      color: var(--whitecolor);
    }
  }
}
.nofixed {position: relative !important;}


@media (max-width: 1024px) {
  /*	footer{position: relative;}*/
}
@media (max-width: 768px) {

}
@media (max-width: 540px) {
  
}
@media (max-width: 414px) {
  
}
